
<div class="form_container">
<h2 class='text-center'>Sign up</h2>

  <div class="sign-up">
   <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <div class='form-group'>
        <div class="input_box">
      <%= f.input  :photo, as: :file, :label => "Profile Picture" %>
      </div>
      <div class="input-box">
      <%= f.input :email,
                  required: true,
                  autofocus: true,
                  input_html: { autocomplete: "email" , placeholder: "Enter your email" } %>
        </div>
      </div>
       <div class="input-box">
      <%= f.input :password,
                  required: true,
                  hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                  input_html: { autocomplete: "new-password", placeholder: "Create password" } %>
        </div>
      <div class="input-box">
      <%= f.input :password_confirmation,
                  required: true,
                  input_html: { autocomplete: "new-password", placeholder: "Confirm password"} %>
        </div>
    </div>

      <div class="form-actions">
        <%= f.button :submit, "Sign up"%>
      </div>
  <% end %>


     <div class="btn"><%= render "devise/shared/links" %></div>
   </div>
</div>
