<div class="nav-container">
  <div class="navbar d-flex">
    <div class="logo justify-content-start"> <%= link_to "rollerbnb🎢", root_path %></div>
    <div class="links">
      <ul class="m-0">
        <% if user_signed_in? %>
          <li> <%= link_to "My bookings",bookings_path %> </li>
          <li><%= link_to "My Rollercoasters", users_path %></li>
          <li><%= link_to "Create new rollercoaster", new_rollercoaster_path(@rollercoaster) %></li>
          <li><%= link_to "Log out",  destroy_user_session_path, method: :delete %></li>
          <% else %>
          <%= link_to "login", new_user_session_path %>
        <% end %>
      </ul>
    </div>
  </div>
</div>
