<div class="nav-container">
  <div class="navbar d-flex">
    <div class="logo justify-content-start"> <%= link_to "rollerbnb🎢", root_path %></div>
    <div class="dropdown" id="dropdown" data-controller="dropdown">
      <% if user_signed_in? %>
      <button class="btn d-flex rounded-circle object-fit-fill" id="btn" data-action="mouseover->dropdown#fire">
            <div>
              <% if current_user.photo.attached? %>
                <%= cl_image_tag current_user.photo.key%>
              <% end %>
            </div>
      </button>
      <ul data-dropdown-target="list" class="m-0 d-none position-absolute rounded pt-2 pl-5" >
          <li class="d-flex border-bottom">
            <%= link_to bookings_path do%>
              <i class="fa-solid fa-book"></i>
              My bookings
            <% end %>
          </li>
          <li class="d-flex">
            <%= link_to users_path do%>
              <i class="fa-solid fa-train fa-shake"></i>
              My rollercoasters
            <% end %>
          </li>

          <li class="d-flex border-bottom">
            <%= link_to new_rollercoaster_path(@rollercoaster) do%>
              <i class="fa-solid fa-circle-plus fa-beat"></i>
              Add rollercoaster
            <% end %>
          </li>

          <li class="d-flex border-bottom">
            <%= link_to "" do%>
              <i class="fa-solid fa-gears"></i>
              Settings <em>BETA</em>
            <% end %>
          </li>

          <li>
            <%= link_to "Log out",  destroy_user_session_path, method: :delete %>
          </li>
      </ul>

        <% else %>
          <%= link_to "login", new_user_session_path %>
        <% end %>
    </div>
  </div>
</div>
