<div class="container mt-4 mb-10">
  <%= simple_form_for(@rollercoaster) do |f| %>
    <%= f.input :name %>
    <%= f.input :location %>
    <%= f.input :price, input_html: { min: '0'}%>
    <%= f.input :description %>
    <%= f.input :photos, as: :file, input_html: { multiple: true } %>
    <%= f.submit style: "btn btn-primary"%>
  <% end %>
</div>
