
  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1615568926456-ce017e92a93a?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=4031&q=80);">
    <div class="container">
      <h1>Rent your rollercoaster today!</h1>
      <p>Now available in 5 countries</p>
        <div class="row justify-content-left pt-3">
          <div class="col-sm-8 my-3">
            <%= form_with url: "#{rollercoasters_path}", method: :get, class: "d-flex" do %>
              <%= text_field_tag :query,
                    params[:query],
                    class: "form-control",
                    placeholder: "Look for your next adrenaline rush"
                %>
              <%= submit_tag "Search", name: "", class: "btn btn-primary", onclick: "scrollToSection()"%>
            <% end %>
          </div>
        </div>
    </div>
  </div>
      <%# searchbar below %>
      <div>
        </div>
      </div>
<div class="container-fluid container-fluid-w1000 mb-5" style="flex-grow: 1">
    <div style="text-align:center; margin-top: 10rem; margin-bottom: 3rem">
      <h1 id="search">Available rides</h1>
    </div>
    <div class="content d-flex mt-25">
      <div class="cards">
        <% @rollercoasters.each do |rc| %>
          <%= link_to rollercoaster_path(rc) do %>
            <div class="card_category">
              <%= image_tag url_for(rc.photos.first)%>
              <div class="card_description">
                <h3><%= rc.name %></h3>
                <p> <%= rc.description %></p>
                <div class="price_and_address">
                  <p> $<%= rc.price %>/day</p>
                  <p> <i class="fa-solid fa-location-dot"></i> <%= rc.location %></p>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
      <div>
        <%= render 'mapwithrollercoasters' %>
      </div>
    </div>

    </div>
  </div>
</div>

<script>
    function scrollToSection() {
        var targetSection = document.getElementById("search");
        targetSection.scrollIntoView({ behavior: "smooth" });
    }
</script>
