<div class="container-fluid container-fluid-w1000">
    <h1>Rent your rollercoaster today!</h1>
    <h2>Now available in 5 countries</h2>
    <%# searchbar below %>
    <div>
      <div class="row justify-content-center">
        <div class="col-sm-8 my-3">
          <%= form_with url: rollercoasters_path, method: :get, class: "d-flex" do %>
            <%= text_field_tag :query,
                  params[:query],
                  class: "form-control",
                  placeholder: "Type a keyword"
              %>
            <%= submit_tag "Search", name: "", class: "btn btn-primary" %>
          <% end %>
        </div>
      </div>
    </div>
  <div class="content d-flex">
    <div class="card_category">
      <% @rollercoasters.each do |rc| %>
        <%= link_to rollercoaster_path(rc) do %>
          <div class="card_category">
            <%= image_tag url_for(rc.photos.first)%>
            <div class="card_description">
              <h3><%= rc.name %></h3>
              <p> <%= rc.description %></p>
              <div class="price_and_address">
                <p> $<%= rc.price %>/day</p>
                <p> <i class="fa-solid fa-location-dot"></i> <%= rc.location %></p>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
    <div>
      <%= render 'mapwithrollercoasters' %>
    </div>
  </div>

  </div>
</div>
