
<div class="m-3 col-6">
  <div class="description">
    <h1><%= @rollercoaster.name %></h1>
    <div class="rollercoaster_show">
      <%= image_tag url_for(@rollercoaster.photos.first)%>
    </div>
    <div class="">
      <p><i class="fa-solid fa-location-dot"></i> <%= @rollercoaster.location %></p>
      <h2>About this ride</h2>
      <p><%= @rollercoaster.description %></p>
      <p> $ <%= @rollercoaster.price %></p>
      <h2>What other riders think</h2>
      <div>
        <% @reviews.each do |review| %>
        <p><em>"<%= review.body %>"</em></p>
        <% end %>
      </div>
    </div>
  </div>

  <div class="col-6 my-3">
    <%= render "bookingform" %>
  </div>
</div>

